# -*- mode: ruby -*-
# vi: set ft=ruby :

Vagrant.configure(2) do |config|
  config.vm.define "{{name}}" do |m|
    m.vm.provider "virtualbox" do |v|
      v.name = "{{name}}"
      v.memory = 2048
    end
    m.vm.box = "ubuntu/trusty64"
    m.vm.hostname = "{{name}}"
    m.vm.network "private_network", ip: "{{ip}}"
    m.vm.provision "ansible" do |a|
      a.playbook = "provision/playbook.yml"
      a.groups = {
        "{{group}}" => ["{{name}}"]
      }
    end
  end
end
